@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --mobile: 375px;
  --desktop: 1440px;
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --paragraph-font-size: 18px;
  --font-family: "Epilogue", sans-serif;
  --font-weights1: 500;
  --font-weights: 700;
}
