@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --mobile: 375px;
  --desktop: 1440px;
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --paragraph-font-size: 18px;
  --font-family: "Epilogue", sans-serif;
  --font-weights1: 500;
  --font-weights2: 700;
}

* {
  box-sizing: border-box;
  /* overflow: hidden !important; */
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  font-family: var(--font-family);
}

body {
  background: var(--almost-white);
}

/* MOBILE FIRST DESIGN */
#intro {
  width: 100vw;
  height: 100vh;
  background: var(--almost-white);
  display: flex;
  flex-direction: column;
}

/* NAVBAR START */
#intro nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0.9rem 2rem;
}

#links-outer {
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  overflow: auto;
  position: absolute;
  background: var(--almost-white);
  z-index: 999;
}

#hamburger-menu {
  cursor: pointer;
}

/* dropdown menus */
#features-dropdown-container,
#company-dropdown-container {
  margin-left: 2rem;
}

#features-dropdown,
#company-dropdown {
  display: flex;
  flex-direction: column;
}

#features-dropdown a,
#company-dropdown a {
  text-decoration: none;
  display: flex;
  white-space: nowrap;
  color: var(--medium-gray);
  font-size: 1rem;
  font-family: var(--font-family);
  padding-top: 1rem;
  cursor: pointer;
}

#features-dropdown a span {
  margin-left: 1rem;
}

#shallow-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: relative;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: none;
  overflow: hidden;
}

#intro #links-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.3rem;
  /* align-items: flex-start; */
}
#intro nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#close-btn {
  text-align: right;
  padding-bottom: 1rem;
}

#intro nav ul li {
  padding: 1rem 0.2rem;
}
#intro nav ul li a:hover {
  color: var(--almost-black);
}

#intro nav ul li a {
  text-decoration: none;
  color: var(--medium-gray);
  font-size: var(--paragraph-font-size);
}

#features-dropdown-container:hover,
#company-dropdown-container:hover {
  display: block;
}
#features-dropdown-container,
#company-dropdown-container {
  display: none;
}

#register a {
  border: solid 2px var(--medium-gray);
  padding: 0.7rem 4rem !important;
  border-radius: 1rem;
}

#register a:hover {
  border: solid 2px var(--almost-black);
  cursor: pointer;
}
#register a:hover {
  color: var(--almost-black);
}

#right-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* NAVBAR END */

/* HEADER START */
header {
  flex: auto;
  text-align: center;
  padding-bottom: 4rem;
  /* display: none; */
}

#desktop-image {
  display: none;
}

#image img {
  object-fit: cover;
  object-position: 0 0;
  width: 100%;
  height: 100%;
}

#content {
  padding: 0.5rem 1rem;
}
header h1 {
  font-size: 3rem;
  color: var(--almost-black);
  margin-bottom: 1.2rem;
}

#main-para {
  font-size: var(--paragraph-font-size);
  color: var(--medium-gray);
  line-height: 1.7rem;
}

#learn {
  color: white;
  background: var(--almost-black);
  padding: 1.2rem 2rem;
  font-size: var(--paragraph-font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weights2);
  border-radius: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
  border: solid 2px var(--almost-black);
}

#learn:active {
  outline: none;
}

#learn:hover {
  outline: none;
  background-color: var(--almost-white);
  color: var(--almost-black);
  cursor: pointer;
}

#icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 1rem 0.5rem; */
}

#icons img {
  padding-bottom: 1.2rem;
}
#icons img:not(:last-child) {
  padding-left: 0.5rem;
}
/* HEADER END */

/* MEDIA QUERY  */
@media screen and (min-width: 769px) {
  #hamburger-menu {
    display: none;
  }

  #close-btn {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 1.2rem !important;
  }
  #logo {
    margin-top: 0.2rem;
  }
  #shallow-screen {
    display: block !important;
    position: initial;
    background: inherit !important;
    flex: auto;
    overflow: auto;
    padding: 0 !important;
  }

  #links-outer {
    position: initial;
    width: 100% !important;
    padding: 0 !important;
  }

  #links-inner {
    display: flex;
    width: 100%;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 1rem 0 !important;
  }

  #left-links ul {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center;
    padding-left: 2rem !important;
  }

  #left-links ul li {
    margin-left: 2rem;
  }

  #right-links ul {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center;
  }

  #right-links ul li {
    margin-left: 2rem;
  }

  #intro nav ul li {
    padding: 0;
    white-space: nowrap;
  }

  #register a {
    padding: 0.7rem 1rem !important;
  }

  #left-link-features,
  #left-link-company {
    /* position: relative; */
  }

  #features-dropdown-container,
  #company-dropdown-container {
    padding: 0.5rem 1.5rem 1rem;
    border-radius: 10px;
    position: absolute;
    background: white;
    top: 2rem;
    right: 0;
    z-index: 999;
    width: fit-content;
    -webkit-box-shadow: 1px 2px 32px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 32px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none;
  }

  #features-dropdown-container {
    left: 4.5rem;
    top: 2.7rem;
  }

  #company-dropdown-container {
    left: 16.5rem;
    top: 2.7rem;
  }

  /* NAVBAR END */

  /* HEADER START */

  header {
    padding-bottom: 0;
  }
  #header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 5rem 6rem 8rem 7rem;
  }

  header h1 {
    font-size: 5rem;
    margin-top: 8rem;
    font-weight: var(--font-weights2);
  }
  #desktop-image {
    display: initial;
  }

  #mobile-image {
    display: none;
  }

  #image {
    flex: 5;
  }

  #image img {
    object-position: center;
  }

  #content {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-right: 5rem;
  }

  #content span {
    display: block;
  }

  #main-para {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 80%;
  }

  #learn {
    padding: 1.2rem 2rem !important;
    margin-bottom: 5rem !important;
  }

  #icons {
    bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
  }
}
